.Container {
  margin: 2%;
  padding: 1%;
  font-size: 18pt;
}

.ForkMe {
  text-align: center;
  font-size: small;
  width: 100%;
}

@media (max-width: 375px) {
  .Container {
    font-size: 13pt;
  }
}